USE [master]
GO
/****** Object:  Database [mashrue]    Script Date: 03/01/2022 05:40:09 p. m. ******/
CREATE DATABASE [mashrue]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'mashrue', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\mashrue.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'mashrue_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\mashrue_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [mashrue].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [mashrue]
GO
/****** Object:  Table [dbo].[Actividad]    Script Date: 03/01/2022 05:40:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Actividad](
	[Actividad_Id] [varchar](50) NOT NULL,
	[ADescripcion] [varchar](max) NULL,
	[AFechaInicio] [date] NOT NULL,
	[AFechaFinal] [date] NOT NULL,
	[ANumHEstim] [int] NOT NULL,
	[AAutorizada] [bit] NULL,
	[AUsuario_Id] [varchar](50) NOT NULL,
	[ATipoActividad_Id] [varchar](50) NOT NULL,
	[AProyecto_Id] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Actividad] PRIMARY KEY CLUSTERED 
(
	[Actividad_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 03/01/2022 05:40:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Departamento](
	[Departamento_Id] [varchar](50) NOT NULL,
	[DNombre] [varchar](50) NOT NULL,
	[DDescripcion] [varchar](max) NULL,
	[DExt] [int] NULL,
	[DUbicacion] [varchar](50) NULL,
 CONSTRAINT [PK_Departamento] PRIMARY KEY CLUSTERED 
(
	[Departamento_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Departamento_Proyecto]    Script Date: 03/01/2022 05:40:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Departamento_Proyecto](
	[Departamento_Id] [varchar](50) NOT NULL,
	[Proyecto_id] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Proyecto]    Script Date: 03/01/2022 05:40:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Proyecto](
	[Proyecto_Id] [varchar](50) NOT NULL,
	[PNombre] [varchar](50) NOT NULL,
	[PFechaInicio] [date] NOT NULL,
	[PFechaFinal] [date] NOT NULL,
	[PNumHEstim] [int] NOT NULL,
	[PPresupuesto] [float] NOT NULL,
	[PRealFechaF] [date] NULL,
	[PRealHorasT] [float] NULL,
	[PProyActivo] [bit] NOT NULL,
	[PEncargado] [varchar](50) NULL,
 CONSTRAINT [PK_Proyecto] PRIMARY KEY CLUSTERED 
(
	[Proyecto_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TipoActividad]    Script Date: 03/01/2022 05:40:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TipoActividad](
	[TipoActividad_Id] [varchar](50) NOT NULL,
	[TNombre] [varchar](50) NOT NULL,
	[TDescripcion] [varchar](max) NULL,
	[TCostoHLaborada] [float] NULL,
 CONSTRAINT [PK_TipoActividad] PRIMARY KEY CLUSTERED 
(
	[TipoActividad_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 03/01/2022 05:40:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[Usuario_Id] [varchar](50) NOT NULL,
	[UNombre] [varchar](50) NOT NULL,
	[UEmail] [varchar](50) NULL,
	[UContraseña] [varchar](50) NOT NULL,
	[UTel] [varchar](50) NULL,
	[URol] [int] NOT NULL,
	[UImage] [image] NULL,
	[UDepartamento_Id] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Usuario_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuario_Proyecto]    Script Date: 03/01/2022 05:40:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario_Proyecto](
	[Usuario_Id] [varchar](50) NOT NULL,
	[Proyecto_id] [varchar](50) NOT NULL,
	[Permisos] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[Proyecto_Resumen]    Script Date: 03/01/2022 05:40:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Proyecto_Resumen]
AS
SELECT        Proyecto_Id, PNombre, PProyActivo, PFechaInicio, PFechaFinal
FROM            dbo.Proyecto

GO
INSERT [dbo].[Actividad] ([Actividad_Id], [ADescripcion], [AFechaInicio], [AFechaFinal], [ANumHEstim], [AAutorizada], [AUsuario_Id], [ATipoActividad_Id], [AProyecto_Id]) VALUES (N'1', N'Corrección de Sprites', CAST(N'2018-11-13' AS Date), CAST(N'2018-11-14' AS Date), 2, 0, N'1', N'2', N'3')
INSERT [dbo].[Actividad] ([Actividad_Id], [ADescripcion], [AFechaInicio], [AFechaFinal], [ANumHEstim], [AAutorizada], [AUsuario_Id], [ATipoActividad_Id], [AProyecto_Id]) VALUES (N'2', N'Bugs', CAST(N'2018-12-04' AS Date), CAST(N'2018-12-05' AS Date), 10, 0, N'1', N'2', N'6')
INSERT [dbo].[Actividad] ([Actividad_Id], [ADescripcion], [AFechaInicio], [AFechaFinal], [ANumHEstim], [AAutorizada], [AUsuario_Id], [ATipoActividad_Id], [AProyecto_Id]) VALUES (N'6', N'Animación de las particulas', CAST(N'2018-12-04' AS Date), CAST(N'2018-12-07' AS Date), 4, 0, N'1', N'1', N'6')
INSERT [dbo].[Departamento] ([Departamento_Id], [DNombre], [DDescripcion], [DExt], [DUbicacion]) VALUES (N'1', N'Animación', N'Anim por Comp', 899, N'Planta A')
INSERT [dbo].[Departamento] ([Departamento_Id], [DNombre], [DDescripcion], [DExt], [DUbicacion]) VALUES (N'2', N'Lógica Aritmetica', N'Se realiza los procedimientos', 477, N'Planta B')
INSERT [dbo].[Departamento] ([Departamento_Id], [DNombre], [DDescripcion], [DExt], [DUbicacion]) VALUES (N'3', N'Programación Lógica', N'Se produce Scripts', 478, N'Planta C')
INSERT [dbo].[Departamento_Proyecto] ([Departamento_Id], [Proyecto_id]) VALUES (N'3', N'3')
INSERT [dbo].[Departamento_Proyecto] ([Departamento_Id], [Proyecto_id]) VALUES (N'2', N'4')
INSERT [dbo].[Departamento_Proyecto] ([Departamento_Id], [Proyecto_id]) VALUES (N'3', N'6')
INSERT [dbo].[Proyecto] ([Proyecto_Id], [PNombre], [PFechaInicio], [PFechaFinal], [PNumHEstim], [PPresupuesto], [PRealFechaF], [PRealHorasT], [PProyActivo], [PEncargado]) VALUES (N'3', N'Mario RPG', CAST(N'2018-11-13' AS Date), CAST(N'2018-11-15' AS Date), 32, 1500, CAST(N'2018-12-04' AS Date), 2, 1, N'1')
INSERT [dbo].[Proyecto] ([Proyecto_Id], [PNombre], [PFechaInicio], [PFechaFinal], [PNumHEstim], [PPresupuesto], [PRealFechaF], [PRealHorasT], [PProyActivo], [PEncargado]) VALUES (N'4', N'Yoshis', CAST(N'2018-11-13' AS Date), CAST(N'2018-11-15' AS Date), 10, 142, CAST(N'2018-12-04' AS Date), 18, 1, N'1')
INSERT [dbo].[Proyecto] ([Proyecto_Id], [PNombre], [PFechaInicio], [PFechaFinal], [PNumHEstim], [PPresupuesto], [PRealFechaF], [PRealHorasT], [PProyActivo], [PEncargado]) VALUES (N'6', N'Anoyori', CAST(N'2018-12-04' AS Date), CAST(N'2018-12-06' AS Date), 15, 2000, CAST(N'2018-12-04' AS Date), 14, 1, N'1')
INSERT [dbo].[TipoActividad] ([TipoActividad_Id], [TNombre], [TDescripcion], [TCostoHLaborada]) VALUES (N'1', N'Animación', N'Anima las escenas del videojuego', 15)
INSERT [dbo].[TipoActividad] ([TipoActividad_Id], [TNombre], [TDescripcion], [TCostoHLaborada]) VALUES (N'2', N'Colorista', N'Colorea todas las escenas de la pelicula', 5)
INSERT [dbo].[Usuario_Proyecto] ([Usuario_Id], [Proyecto_id], [Permisos]) VALUES (N'1', N'3', NULL)
INSERT [dbo].[Usuario_Proyecto] ([Usuario_Id], [Proyecto_id], [Permisos]) VALUES (N'2', N'3', NULL)
INSERT [dbo].[Usuario_Proyecto] ([Usuario_Id], [Proyecto_id], [Permisos]) VALUES (N'2', N'4', NULL)
ALTER TABLE [dbo].[Actividad]  WITH CHECK ADD  CONSTRAINT [FK_Actividad_Proyecto] FOREIGN KEY([AProyecto_Id])
REFERENCES [dbo].[Proyecto] ([Proyecto_Id])
GO
ALTER TABLE [dbo].[Actividad] CHECK CONSTRAINT [FK_Actividad_Proyecto]
GO
ALTER TABLE [dbo].[Actividad]  WITH CHECK ADD  CONSTRAINT [FK_Actividad_TipoActividad] FOREIGN KEY([ATipoActividad_Id])
REFERENCES [dbo].[TipoActividad] ([TipoActividad_Id])
GO
ALTER TABLE [dbo].[Actividad] CHECK CONSTRAINT [FK_Actividad_TipoActividad]
GO
ALTER TABLE [dbo].[Actividad]  WITH CHECK ADD  CONSTRAINT [FK_Actividad_Usuario] FOREIGN KEY([AUsuario_Id])
REFERENCES [dbo].[Usuario] ([Usuario_Id])
GO
ALTER TABLE [dbo].[Actividad] CHECK CONSTRAINT [FK_Actividad_Usuario]
GO
ALTER TABLE [dbo].[Departamento_Proyecto]  WITH CHECK ADD  CONSTRAINT [FK_Departamento_Proyecto_Departamento] FOREIGN KEY([Departamento_Id])
REFERENCES [dbo].[Departamento] ([Departamento_Id])
GO
ALTER TABLE [dbo].[Departamento_Proyecto] CHECK CONSTRAINT [FK_Departamento_Proyecto_Departamento]
GO
ALTER TABLE [dbo].[Departamento_Proyecto]  WITH CHECK ADD  CONSTRAINT [FK_Departamento_Proyecto_Proyecto] FOREIGN KEY([Proyecto_id])
REFERENCES [dbo].[Proyecto] ([Proyecto_Id])
GO
ALTER TABLE [dbo].[Departamento_Proyecto] CHECK CONSTRAINT [FK_Departamento_Proyecto_Proyecto]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Departamento] FOREIGN KEY([UDepartamento_Id])
REFERENCES [dbo].[Departamento] ([Departamento_Id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Departamento]
GO
ALTER TABLE [dbo].[Usuario_Proyecto]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Proyecto_Proyecto] FOREIGN KEY([Proyecto_id])
REFERENCES [dbo].[Proyecto] ([Proyecto_Id])
GO
ALTER TABLE [dbo].[Usuario_Proyecto] CHECK CONSTRAINT [FK_Usuario_Proyecto_Proyecto]
GO
ALTER TABLE [dbo].[Usuario_Proyecto]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Proyecto_Usuario] FOREIGN KEY([Usuario_Id])
REFERENCES [dbo].[Usuario] ([Usuario_Id])
GO
ALTER TABLE [dbo].[Usuario_Proyecto] CHECK CONSTRAINT [FK_Usuario_Proyecto_Usuario]
GO
/****** Object:  StoredProcedure [dbo].[ST_ADDActividad]    Script Date: 03/01/2022 05:40:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ST_ADDActividad](
@Actividad_Id VARCHAR(50),
@Descp VARCHAR(MAX),
@AFechaInicio DATE,
@AFechaFinal DATE,
@ANumHEstim INT,
@AAutorizada BIT,
@AUsuario_Id VARCHAR(50),
@ATipoActividad_Id VARCHAR(50),
@AProyecto_Id VARCHAR(50)
)
AS BEGIN TRY
BEGIN TRAN
	IF EXISTS (SELECT Actividad_Id FROM Actividad WHERE Actividad_Id = @Actividad_Id)
	BEGIN
		print 'Esta Actividad ya fue dada de alta';
		RETURN
	END
	INSERT INTO Actividad
	VALUES (@Actividad_Id, @Descp, @AFechaInicio, @AFechaFinal, @ANumHEstim, @AAutorizada, @AUsuario_Id, @ATipoActividad_Id, @AProyecto_Id);

COMMIT TRAN
END TRY
BEGIN CATCH
	ROLLBACK TRAN
	print 'Se termino con errores el procedure' ;
	RETURN
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[ST_ADDDepartamento]    Script Date: 03/01/2022 05:40:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ST_ADDDepartamento](
@Departamento_Id VARCHAR(50),
@Nombre VARCHAR(50),
@Descp VARCHAR(50),
@Ext INTEGER,
@Ubicacion VARCHAR(50)
)
AS BEGIN TRY
BEGIN TRAN
	IF EXISTS (SELECT Departamento_Id FROM Departamento WHERE Departamento_Id = @Departamento_Id)
	BEGIN
		print 'El Departamento ya fue dado de alta';
		RETURN
	END
	INSERT INTO Departamento
	VALUES (@Departamento_Id, @Nombre, @Descp, @Ext, @Ubicacion);

COMMIT TRAN
END TRY
BEGIN CATCH
	ROLLBACK TRAN
	print 'Se termino con errores el procedure' ;
	RETURN
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[ST_ADDDepartamento_Proyecto]    Script Date: 03/01/2022 05:40:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ST_ADDDepartamento_Proyecto](
@Departamento_Id VARCHAR(50),
@Proyecto_Id VARCHAR(50)
)
AS BEGIN TRY
BEGIN TRAN
	IF EXISTS (SELECT Departamento_Id FROM Departamento_Proyecto WHERE Departamento_Id = @Departamento_Id AND Proyecto_id = @Proyecto_Id)
	BEGIN
		print 'El Departamento ya se encuenta con el proyecto';
		RETURN
	END
	INSERT INTO Departamento_Proyecto
	VALUES (@Departamento_Id, @Proyecto_Id);

COMMIT TRAN
END TRY
BEGIN CATCH
	ROLLBACK TRAN
	print 'Se termino con errores el procedure' ;
	RETURN
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[ST_ADDProyecto]    Script Date: 03/01/2022 05:40:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ST_ADDProyecto](
@Proyecto_Id VARCHAR(50),
@PNombre VARCHAR(50),
@PFechaInicio DATE,
@PFechaFinal DATE,
@PNumHEstim INT,
@PPresupuesto FLOAT,
@PRealFechaF DATE,
@PRealHorasT FLOAT,
@PProyActivo BIT,
@PEncargado VARCHAR(50)
)
AS BEGIN TRY
BEGIN TRAN
	IF EXISTS (SELECT Proyecto_Id FROM Proyecto WHERE Proyecto_Id = @Proyecto_Id)
	BEGIN
		print 'El Tipo de Actividad ya fue dado de alta';
		RETURN
	END
	INSERT INTO Proyecto
	VALUES (@Proyecto_Id, @PNombre, @PFechaInicio, @PFechaFinal, @PNumHEstim, @PPresupuesto, @PRealFechaF, @PRealHorasT, @PProyActivo, @PEncargado);

COMMIT TRAN
END TRY
BEGIN CATCH
	ROLLBACK TRAN
	print 'Se termino con errores el procedure' ;
	RETURN
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[ST_ADDTipoActividad]    Script Date: 03/01/2022 05:40:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ST_ADDTipoActividad](
@TipoActividad_Id VARCHAR(50),
@Nombre VARCHAR(50),
@Descp VARCHAR(MAX),
@Costo FLOAT
)
AS BEGIN TRY
BEGIN TRAN
	IF EXISTS (SELECT TipoActividad_Id FROM TipoActividad WHERE TipoActividad_Id = @TipoActividad_Id)
	BEGIN
		print 'El Tipo de Actividad ya fue dado de alta';
		RETURN
	END
	INSERT INTO TipoActividad
	VALUES (@TipoActividad_Id, @Nombre, @Descp, @Costo);

COMMIT TRAN
END TRY
BEGIN CATCH
	ROLLBACK TRAN
	print 'Se termino con errores el procedure' ;
	RETURN
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[ST_ADDUsuario_Proyecto]    Script Date: 03/01/2022 05:40:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ST_ADDUsuario_Proyecto](
@Usuario_Id VARCHAR(50),
@Proyecto_Id VARCHAR(50),
@Permisos VARCHAR(50)
)
AS BEGIN TRY
BEGIN TRAN
	IF EXISTS (SELECT Usuario_Id FROM Usuario_Proyecto WHERE Usuario_Id = @Usuario_Id AND Proyecto_id = @Proyecto_Id)
	BEGIN
		print 'El Usuario ya se encuenta en el Departamento';
		RETURN
	END
	INSERT INTO Usuario_Proyecto
	VALUES (@Usuario_Id, @Proyecto_Id, @Permisos);

COMMIT TRAN
END TRY
BEGIN CATCH
	ROLLBACK TRAN
	print 'Se termino con errores el procedure' ;
	RETURN
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[ST_DELDepartamento]    Script Date: 03/01/2022 05:40:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ST_DELDepartamento](
@Departamento_Id NVARCHAR(50),
@Nombre NVARCHAR(50),
@Descp NVARCHAR(50),
@Ext NVARCHAR(50),
@Ubicacion NVARCHAR(50)
)
AS BEGIN TRY
BEGIN TRAN
	IF NOT EXISTS (SELECT Departamento_Id FROM Departamento WHERE Departamento_Id = @Departamento_Id)
	BEGIN
		print 'El Departamento no ha sido dado de alta';
		RETURN
	END
	DELETE FROM Departamento
	WHERE Departamento_Id = @Departamento_Id AND DNombre = @Nombre AND DDescripcion = @Descp AND DExt= @Ext AND DUbicacion = @Ubicacion;

COMMIT TRAN
END TRY
BEGIN CATCH
	ROLLBACK TRAN
	print 'Se termino con errores el procedure' ;
	RETURN
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[ST_DELProyecto]    Script Date: 03/01/2022 05:40:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ST_DELProyecto](
@Proyecto_Id VARCHAR(50)
)
AS BEGIN TRY
BEGIN TRAN
	IF NOT EXISTS (SELECT Proyecto_Id FROM Proyecto WHERE Proyecto_Id = @Proyecto_Id)
	BEGIN
		print 'El Proyecto no existe';
		RETURN
	END
	

	DELETE FROM Departamento_Proyecto
	WHERE Proyecto_id = @Proyecto_Id

	DELETE FROM Usuario_Proyecto
	WHERE Proyecto_id = @Proyecto_Id

	DELETE FROM Actividad
	WHERE AProyecto_Id = @Proyecto_Id

	DELETE FROM Proyecto
	WHERE Proyecto_Id = @Proyecto_Id

COMMIT TRAN
END TRY
BEGIN CATCH
	ROLLBACK TRAN
	print 'Se termino con errores el procedure' ;
	RETURN
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[ST_DELTipoActividad]    Script Date: 03/01/2022 05:40:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ST_DELTipoActividad](
@TipoActividad_Id VARCHAR(50),
@Nombre VARCHAR(50),
@Descp VARCHAR(MAX),
@Costo FLOAT
)
AS BEGIN TRY
BEGIN TRAN
	IF NOT EXISTS (SELECT TipoActividad_Id FROM TipoActividad WHERE TipoActividad_Id = @TipoActividad_Id)
	BEGIN
		print 'El Tipo de Actividad no ha sido dado de alta';
		RETURN
	END
	DELETE FROM TipoActividad
	WHERE TipoActividad_Id = @TipoActividad_Id AND TNombre = @Nombre AND TDescripcion = @Descp AND TCostoHLaborada = @Costo;

COMMIT TRAN
END TRY
BEGIN CATCH
	ROLLBACK TRAN
	print 'Se termino con errores el procedure' ;
	RETURN
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[ST_DELUsuario]    Script Date: 03/01/2022 05:40:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ST_DELUsuario](
@Usuario_Id VARCHAR(50),
@UNombre VARCHAR(50)
)
AS BEGIN TRY
BEGIN TRAN
	IF NOT EXISTS (SELECT Usuario_Id FROM Usuario WHERE Usuario_Id = @Usuario_Id)
	BEGIN
		print 'El Usuario no ha sido dado de alta';
		RETURN
	END
	DELETE FROM Usuario
	WHERE Usuario_Id = @Usuario_Id AND UNombre = @UNombre;

COMMIT TRAN
END TRY
BEGIN CATCH
	ROLLBACK TRAN
	print 'Se termino con errores el procedure' ;
	RETURN
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[ST_MODActividad]    Script Date: 03/01/2022 05:40:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ST_MODActividad](
@Actividad_Id VARCHAR(50),
@Descp VARCHAR(MAX),
@AFechaInicio DATE,
@AFechaFinal DATE,
@ANumHEstim INT,
@AAutorizada BIT,
@AUsuario_Id VARCHAR(50),
@ATipoActividad_Id VARCHAR(50),
@AProyecto_Id VARCHAR(50)
)
AS BEGIN TRY
BEGIN TRAN
	IF NOT EXISTS (SELECT Actividad_Id FROM Actividad WHERE Actividad_Id = @Actividad_Id)
	BEGIN
		print 'Esta Actividad ya fue dada de alta';
		RETURN
	END
	UPDATE Actividad
	SET Actividad_Id = @Actividad_Id, ADescripcion = @Descp, AFechaInicio = @AFechaInicio, 
	AFechaFinal = @AFechaFinal, ANumHEstim = @ANumHEstim, AAutorizada = @AAutorizada, 
	AUsuario_Id = @AUsuario_Id, ATipoActividad_Id = @ATipoActividad_Id, AProyecto_Id = @AProyecto_Id
	WHERE Actividad_Id = @Actividad_Id ;
COMMIT TRAN
END TRY
BEGIN CATCH
	ROLLBACK TRAN
	print 'Se termino con errores el procedure' ;
	RETURN
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[ST_MODDepartamento]    Script Date: 03/01/2022 05:40:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ST_MODDepartamento](
@Departamento_Id NVARCHAR(50),
@Nombre NVARCHAR(50),
@Descp NVARCHAR(50),
@Ext NVARCHAR(50),
@Ubicacion NVARCHAR(50)
)
AS BEGIN TRY
BEGIN TRAN
	IF NOT EXISTS (SELECT Departamento_Id FROM Departamento WHERE Departamento_Id = @Departamento_Id)
	BEGIN
		print 'El Departamento no ha sido dado de alta';
		RETURN
	END
	UPDATE Departamento
	SET Departamento_Id = @Departamento_Id, DNombre = @Nombre, DDescripcion = @Descp, DExt= @Ext, DUbicacion = @Ubicacion where Departamento_Id = @Departamento_Id ;

COMMIT TRAN
END TRY
BEGIN CATCH
	ROLLBACK TRAN
	print 'Se termino con errores el procedure' ;
	RETURN
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[ST_MODDepartamento_Proyecto]    Script Date: 03/01/2022 05:40:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ST_MODDepartamento_Proyecto](
@Proyecto_Id VARCHAR(50)
)
AS BEGIN TRY
BEGIN TRAN
	IF NOT EXISTS (SELECT Proyecto_id FROM Departamento_Proyecto WHERE Proyecto_id = @Proyecto_Id)
	BEGIN
		print 'El Departamento ya se encuenta con el proyecto';
		RETURN
	END
	DELETE FROM Departamento_Proyecto
	WHERE Proyecto_id = @Proyecto_Id;

COMMIT TRAN
END TRY
BEGIN CATCH
	ROLLBACK TRAN
	print 'Se termino con errores el procedure' ;
	RETURN
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[ST_MODProyecto]    Script Date: 03/01/2022 05:40:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ST_MODProyecto](
@Proyecto_Id VARCHAR(50),
@PNombre VARCHAR(50),
@PFechaInicio DATE,
@PFechaFinal DATE,
@PNumHEstim INT,
@PPresupuesto FLOAT,
@PRealFechaF DATE,
@PRealHorasT FLOAT,
@PProyActivo BIT,
@PEncargado VARCHAR(50)
)
AS BEGIN TRY
BEGIN TRAN
	IF NOT EXISTS (SELECT Proyecto_Id FROM Proyecto WHERE Proyecto_Id = @Proyecto_Id)
	BEGIN
		print 'El Proyecto no ha sido dado de alta';
		RETURN
	END
	UPDATE Proyecto
	SET Proyecto_Id = @Proyecto_Id, PNombre = @PNombre, PFechaInicio = @PFechaInicio,
	PFechaFinal = @PFechaFinal, PNumHEstim = @PNumHEstim, PPresupuesto = @PPresupuesto,
	PRealFechaF = @PRealFechaF, PRealHorasT = @PRealHorasT, PProyActivo = @PProyActivo, PEncargado = @PEncargado
	WHERE Proyecto_Id = @Proyecto_Id;

COMMIT TRAN
END TRY
BEGIN CATCH
	ROLLBACK TRAN
	print 'Se termino con errores el procedure' ;
	RETURN
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[ST_MODTipoActividad]    Script Date: 03/01/2022 05:40:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ST_MODTipoActividad](
@TipoActividad_Id VARCHAR(50),
@Nombre VARCHAR(50),
@Descp VARCHAR(MAX),
@Costo FLOAT
)
AS BEGIN TRY
BEGIN TRAN
	IF NOT EXISTS (SELECT TipoActividad_Id FROM TipoActividad WHERE TipoActividad_Id = @TipoActividad_Id)
	BEGIN
		print 'El Tipo de Actividad no ha sido dado de alta';
		RETURN
	END
	UPDATE TipoActividad
	SET TipoActividad_Id = @TipoActividad_Id, TNombre = @Nombre, TDescripcion = @Descp, TCostoHLaborada= @Costo where TipoActividad_Id = @TipoActividad_Id ;

COMMIT TRAN
END TRY
BEGIN CATCH
	ROLLBACK TRAN
	print 'Se termino con errores el procedure' ;
	RETURN
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[ST_MODUsuario_Proyecto]    Script Date: 03/01/2022 05:40:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ST_MODUsuario_Proyecto](
@Proyecto_Id VARCHAR(50)
)
AS BEGIN TRY
BEGIN TRAN
	IF NOT EXISTS (SELECT Proyecto_id FROM Usuario_Proyecto WHERE Proyecto_id = @Proyecto_Id)
	BEGIN
		print 'El Usuario ya se encuenta en el Proyecto';
		RETURN
	END
	DELETE FROM Usuario_Proyecto
	WHERE Proyecto_id = @Proyecto_Id ;

COMMIT TRAN
END TRY
BEGIN CATCH
	ROLLBACK TRAN
	print 'Se termino con errores el procedure' ;
	RETURN
END CATCH
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Proyecto"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 247
            End
            DisplayFlags = 280
            TopColumn = 2
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Proyecto_Resumen'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Proyecto_Resumen'
GO
USE [master]
GO
